---
import Layout from "@/layouts/BlogPost.astro";
const tags = ["astro", "react", "svelte", "vue", "web-components"];
const description = `
  <p class="text-left">
    Foto de <a
      href="https://unsplash.com/es/@francescobiancoo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      >Francesco Bianco</a
    > en <a
      class=" text-pgreen font-bold"
      href="https://unsplash.com/es/fotos/arte-mural-floral-dorado-y-azul-TVsgRyKJDc0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      >Unsplash</a
    >
  </p>
`;
---

<Layout
  tags={tags}
  icon="beach"
  title="About Me"
  pubDate={new Date("Feburary 6, 2025")}
  heroImage="/src/assets/fran.jpg"
>
  <p>
    Hi, I’m Melvin Saballos—a creative technologist and entrepreneur with a
    passion for blending art, technology, and storytelling. Based in
    Minneapolis, I wear many hats as a software developer, music producer, DJ,
    and web designer. My journey is fueled by curiosity and a drive to bring
    ideas to life, whether through code, sound, or visuals.
  </p>

  <p>
    As a music producer, I specialize in crafting beats and recording artists,
    working collaboratively to translate their vision into compelling
    soundscapes. Beyond the studio, I DJ and contribute to music video projects
    by helping plan cinematography and visual storytelling. Over time, this
    passion for music has grown into a thriving small business where I help
    others realize their artistic dreams.
  </p>

  <p>
    On the tech side, I run a web design business where I create visually
    engaging and functional websites. With a strong foundation in web
    programming and cloud technologies, I’ve honed my skills through various
    internships and projects. From refactoring legacy code to building
    interactive applications, my work combines technical expertise with creative
    problem-solving.
  </p>

  <p>
	Whether it’s through music,
    design, or storytelling, I’m always exploring new ways to connect with
    people and make an impact.
  </p>
  <p>
	Let’s create something amazing together!
  </p>
</Layout>
